
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="posts">SeeingImage</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="{% url 'synset' %}"><i class="fab fa-trello">Synset</i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="tsne"><i class="fas fa-cubes">t-SNE</i> <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>