<div>
	<hr>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 75px; margin-top: -16px;">
            <a class="navbar-brand" href="#">SeeingImage</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'synset' %}"><i class="fab fa-trello">Synset</i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'tsne' %}"><i class="fas fa-cubes">t-SNE</i></a>
				</li>
            </ul>
        </div>
		</nav>
</div>